.panels > div{
  border: 1px solid black; 
}

.panels {
  display: grid; 
  grid-gap: 0px; 
  grid-template-columns: 155px auto auto;
  grid-template-rows: auto auto;
}

.panels button{
  padding: 6px;
  margin-top: 8px;
  margin-right: 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.panels .panel-info button{
  margin-left: 15px;
  background: rgb(255, 161, 19);
}

.panels button:hover {
  background: #ccc;
}

.panel-info {
  grid-row: span 2; 
}

.panel-positions {
  grid-row: span 2; 
}

.panel-info .search-container {
  float: right;
}

.panel-info input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.panel-info .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.panel-info .search-container button:hover {
  background: #ccc;
}

.vehicleTable{
  margin: 15px;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
  padding-right: 20px;
}

.Number{
  padding: 5px;
}